.btn-bank-icon {
  background-color: #00ffff;
  padding: 10px 20px;
  color: #000 !important;
  border-radius: 20px;
  text-align: center;
}

.content-wrapper-bank {
  display: flex;
  justify-content: space-between;
}

.btn-add-margin {
  margin-bottom: 2px;
}

.radio-bank {
  color: #00ffff;
}
