.notify_section{position: relative;}
.notify_box{background: #fff; border-radius: 4px; box-shadow: #000 0 5px 15px; position: absolute; width:475px; right: -50px; top: 50px;}
.notify_box ul li{border-top: #d7d7d7 solid 1px; padding: 10px 30px;}
.notify_box .notify_user{float: left; width: 40px; height: 40px; border-radius: 50%; object-fit: cover;}
.notify_box .notify_detail{ width: 330px; padding: 0 20px; float: left;}
.span-class{display: block; font-size: 14px; color: #4189dd;}
.notify_box .notify_pot{float: left; width:67px; height: 70px; object-fit: cover;}
.notify_box .notify_detail b{ display: block; font-size: 14px; color: #000000; font-weight: normal;}
.notify_box .notify_detail span{ display: block; font-size: 12px; color: #4189dd;}
.notify_box .notify_detail p{ display: block; font-size: 12px; color: #616161; margin-top: 8px;}
.notify_box h3{font-size: 18px; padding: 15px 30px; margin: 0;float: left; padding-right : 10px}
.notify_box ul{max-height: 400px; overflow-y: scroll;}
.notify_box .un_read{background: #f0f0f0;}
.riangle-up {width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent;
border-bottom: 10px solid #fff; position: absolute; top: -10px; right: 55px;}
.all_notify{background: #4189dd; color: #fff; padding: 6px; border-radius: 50px; float: left; margin:10px 0; font-size: 12px;}
.unread_notification{
    background-color: #eee;
}
.notify_box_friend{
    background: #fff;
    border-radius: 4px;
    box-shadow: #000 0 5px 15px;
    position: absolute;
    width: 475px;
    right: 225px;
    top: 50px;
}

.notify_box_friend .notify_user {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.notify_box_friend ul li{border-top: #d7d7d7 solid 1px; padding: 10px 30px;}
.notify_box_friend .notify_detail{ width: 260px; padding: 0 20px; float: left;}
.notify_box_friend .notify_pot{float: left; width:67px; height: 70px; object-fit: cover;}
.notify_box_friend .notify_detail strong{ display: block; font-size: 14px; color: #000000; font-weight: normal;}
.notify_box_friend .notify_detail span{ display: block; font-size: 12px; color: #4189dd;}
.notify_box_friend .notify_detail p{ display: block; font-size: 12px; color: #616161; padding-top: 8px;}
.notify_box_friend h3{font-size: 18px; padding: 15px 30px; margin: 0;float: left; padding-right : 10px}
.notify_box_friend ul{max-height: 400px; overflow-y: scroll;}
.notify_box_friend .un_read{background: #f0f0f0;}

.search_result_box{
    background: #fff;
    border-radius: 4px;
    box-shadow: #000 0 5px 15px;
    position: absolute;
    width: 490px;
    top: 50px;
}

.search_result_box .notify_user {
    float: left;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.search_result_box ul li{border-top: #d7d7d7 solid 1px; padding: 10px 30px;}
.search_result_box .notify_user{float: left; width: 65px; height: 65px; border-radius: 50%; object-fit: cover;}
.search_result_box .notify_detail{ width: 330px; padding: 0 20px; float: left;}
.search_result_box .notify_pot{float: left; width:100px; height: 70px; object-fit: cover;}
.search_result_box .notify_detail strong{ display: block; font-size: 17px; color: #000000; font-weight: normal;}
.search_result_box .notify_detail span{ display: block; font-size: 11px;}
.search_result_box .notify_detail p{ display: block; font-size: 14px; color: #616161; padding-top: 10px;}
.search_result_box h3{font-size: 18px; padding: 15px 30px; margin: 0;float: left;}
.search_result_box .un_read{background: #f0f0f0;}
.f_list_details{ width: 333px;}

.search_result_box .viewall{
    text-align: center;
}
.search_result_box .no-result{
text-align: center;
}

.notify_action{float: left; width:100px;}
.notify_action a{ margin: 5px 0; float: left; cursor: pointer;}
.language_section{
    width: 20px;
    height: 20px;
    margin: 17px 60px;
    
}
.language_section select{
    background: #d0a807; 
}


