.modal-background {
  background: #666666 !important;
}

.color-white {
  color: #ffff !important;
}

.color-blue {
  color: #00ffff !important;
}

.maxminvalue {
  display: flex;
  justify-content: space-between;
}
